<header class="d-flex flex-wrap justify-content-center p-3 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Avante Management</span>
    </a>
    <ul class="nav nav-pills">
        <li>
            <span class="nav-link disabled">Hello, {{ user.username }}!</span>
        </li>
        <li class="nav-item">
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary me-2">Log Out</button>
            </form>
        </li>
    </ul>
</header>