html,
body {
    min-height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
}

.page-container main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-container {
    flex: 1;
}

.page-container > footer {
    margin-top: auto;
}

.sidebar {
    width: 250px;
    background-color: var(--bs-secondary-bg);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-right: 2px solid var(--bs-border-color);
}
.sidebar a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.sidebar a:hover {
    background-color: var(--bs-tertiary-bg);
}
.main-content-container {
    padding: 20px;
    width: 100%;
}
